.container {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo>img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo>span {
    font-weight: 600;
}

.right {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu>ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    font-weight: 500;
}

.menu>ul>li:hover {
    cursor: pointer;
    color: #fe956f;
}

.input {
    width: 9rem;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.bars {
    color: black;
    font-size: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
    display: none;
}

@media screen and (max-width:640px) {
    .container {
        max-width: 100vw;
        padding: 1rem 0.2rem;
    }
    .bars {
        display: block;
    }
    .right {
        position: absolute;
        top: 0.4rem;
        right: 1rem;
        z-index: 999;
        background-color: rgb(253, 252, 251);
        color: black;
        padding: 0.8rem;
        gap: 1rem;
        flex-direction: column;
        border-radius: 5px;
        font-size: 1.4rem;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .input {
        display: none;
    }
    .menu {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .menu>ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .list {
        padding: 0;
        margin: 0;
    }
}